<div class="coolawesomebuttons">
  <p>Buttons that do cool things:</p>
  <button class="dupBtn">Duplicate Last Card</button>
  <button class="colorBtn">Toggle Color</button>
  <button class="txtBtn">Change Name</button>
  <button class="deleteBtn">Delete</button>
</div>
<div class="wrapper">
  <div class="container">
  <img class="image" src ="https://i.gyazo.com/d1dad04e66b7b98caeb5d76b1f51401e.png"/>
    <div class="header">
      <h3>Dank Meme Collection Beware</h3>
      <h4>Here's a homemade Chief Keef meme enjoy! P.S. Do not click the button, please DON'T.</h4>
    </div>
    <details class="details">
      <summary>Hit Songs
      <div>
        <ul>
          <li>Love Sosa</li>
          <li>Don't Like</li>
          <li>Hate Being Sober</li>
        </ul>
  </div>